USE [master]
GO
/****** Object:  Database [UniversityITAssets]    Script Date: 04.02.2026 20:53:42 ******/
CREATE DATABASE [UniversityITAssets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityITAssets', FILENAME = N'UniversityITAssets.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversityITAssets_log', FILENAME = N'UniversityITAssets.mdf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityITAssets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityITAssets]
GO
/****** Object:  UserDefinedFunction [dbo].[Calculate_Asset_Age]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Calculate_Asset_Age](@purchase_date DATE)
RETURNS INT
AS
BEGIN
    DECLARE @asset_age INT;
    SET @asset_age = DATEDIFF(YEAR, @purchase_date, GETDATE());
    IF (MONTH(@purchase_date) > MONTH(GETDATE())) 
        OR (MONTH(@purchase_date) = MONTH(GETDATE()) AND DAY(@purchase_date) > DAY(GETDATE()))
    BEGIN
        SET @asset_age = @asset_age - 1;
    END
    RETURN @asset_age;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[Needs_Replacement]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Needs_Replacement](
    @purchase_date DATE, 
    @asset_type NVARCHAR(50), 
    @status NVARCHAR(30))
RETURNS BIT
AS
BEGIN
    DECLARE @age INT;
    DECLARE @max_age INT;
    DECLARE @result BIT = 0;
    SET @age = dbo.Calculate_Asset_Age(@purchase_date);
    IF @asset_type IN ('server', 'network_equipment')
        SET @max_age = 5;
    ELSE IF @asset_type IN ('desktop', 'laptop')
        SET @max_age = 4;
    ELSE IF @asset_type = 'printer'
        SET @max_age = 3;
    ELSE
        SET @max_age = 4;
    IF @age >= @max_age AND @status = 'active'
        SET @result = 1;
    RETURN @result;
END;
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[building_name] [nvarchar](50) NOT NULL,
	[building_number] [nvarchar](10) NOT NULL,
	[room_number] [nvarchar](20) NOT NULL,
	[faculty_name] [nvarchar](100) NOT NULL,
	[department] [nvarchar](100) NULL,
	[floor] [int] NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assets]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assets](
	[asset_id] [int] IDENTITY(1,1) NOT NULL,
	[inventory_number] [nvarchar](50) NOT NULL,
	[asset_type] [nvarchar](50) NOT NULL,
	[subtype] [nvarchar](50) NULL,
	[manufacturer] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
	[serial_number] [nvarchar](100) NULL,
	[purchase_date] [date] NOT NULL,
	[warranty_end_date] [date] NULL,
	[current_location_id] [int] NULL,
	[responsible_employee_id] [int] NULL,
	[status] [nvarchar](30) NULL,
	[ip_address] [nvarchar](15) NULL,
	[mac_address] [nvarchar](17) NULL,
	[specifications] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Faculty_Asset_Summary]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Faculty_Asset_Summary] AS
SELECT 
    l.faculty_name AS faculty,
    a.asset_type,
    COUNT(DISTINCT a.asset_id) AS asset_count,
    SUM(CASE WHEN a.status = 'active' THEN 1 ELSE 0 END) AS active_count,
    SUM(CASE WHEN a.status = 'in_repair' THEN 1 ELSE 0 END) AS in_repair_count,
    MIN(a.purchase_date) AS oldest_purchase,
    MAX(a.purchase_date) AS newest_purchase
FROM Locations l
LEFT JOIN Assets a ON l.location_id = a.current_location_id
WHERE l.faculty_name IS NOT NULL
GROUP BY l.faculty_name, a.asset_type;
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[middle_name] [nvarchar](50) NULL,
	[position] [nvarchar](100) NOT NULL,
	[department] [nvarchar](100) NOT NULL,
	[faculty] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Software]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Software](
	[software_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[version] [nvarchar](50) NOT NULL,
	[publisher] [nvarchar](100) NULL,
	[license_type] [nvarchar](50) NULL,
	[license_key] [nvarchar](100) NULL,
	[license_count] [int] NULL,
	[is_critical] [bit] NULL,
	[support_end_date] [date] NULL,
	[category] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[software_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Software_Installations]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Software_Installations](
	[installation_id] [int] IDENTITY(1,1) NOT NULL,
	[asset_id] [int] NOT NULL,
	[software_id] [int] NOT NULL,
	[installation_date] [date] NOT NULL,
	[installed_by_employee_id] [int] NULL,
	[is_active] [bit] NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[installation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Outdated_OS_Assets]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Outdated_OS_Assets] AS
SELECT 
    a.asset_id,
    a.inventory_number,
    a.asset_type,
    a.model,
    l.building_number,
    l.room_number,
    l.faculty_name,
    e.first_name,
    e.last_name,
    s.name AS software_name,
    s.version,
    s.support_end_date,
    DATEDIFF(DAY, s.support_end_date, GETDATE()) AS days_since_support_end
FROM Assets a
INNER JOIN Software_Installations si ON a.asset_id = si.asset_id
INNER JOIN Software s ON si.software_id = s.software_id
LEFT JOIN Locations l ON a.current_location_id = l.location_id
LEFT JOIN Employees e ON a.responsible_employee_id = e.employee_id
WHERE s.category = 'Operating System'
  AND s.support_end_date < GETDATE()
  AND si.is_active = 1
  AND a.status IN ('active', 'in_repair');
GO
/****** Object:  Table [dbo].[Maintenance_Log]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenance_Log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[asset_id] [int] NOT NULL,
	[maintenance_type] [nvarchar](50) NOT NULL,
	[maintenance_date] [date] NOT NULL,
	[completed_date] [date] NULL,
	[performed_by_employee_id] [int] NULL,
	[description] [nvarchar](max) NOT NULL,
	[parts_replaced] [nvarchar](max) NULL,
	[cost] [decimal](10, 2) NULL,
	[status] [nvarchar](20) NULL,
	[next_maintenance_date] [date] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[Asset_Maintenance_History]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Asset_Maintenance_History] AS
SELECT 
    a.asset_id,
    a.inventory_number,
    a.model,
    ml.maintenance_date,
    ml.completed_date,
    ml.maintenance_type,
    ml.description,
    ml.status,
    ml.cost,
    e.first_name + ' ' + e.last_name AS performed_by,
    ml.next_maintenance_date
FROM Assets a
INNER JOIN Maintenance_Log ml ON a.asset_id = ml.asset_id
LEFT JOIN Employees e ON ml.performed_by_employee_id = e.employee_id;
GO
/****** Object:  View [dbo].[Software_License_Report]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Software_License_Report] AS
SELECT 
    s.name,
    s.version,
    s.license_type,
    s.license_count,
    COUNT(si.installation_id) AS installed_count,
    s.license_count - COUNT(si.installation_id) AS available_licenses,
    s.support_end_date,
    CASE 
        WHEN s.support_end_date < GETDATE() THEN 'Expired'
        WHEN s.support_end_date < DATEADD(MONTH, 3, GETDATE()) THEN 'Expiring soon'
        ELSE 'Active'
    END AS license_status
FROM Software s
LEFT JOIN Software_Installations si ON s.software_id = si.software_id AND si.is_active = 1
GROUP BY s.software_id, s.name, s.version, s.license_type, s.license_count, s.support_end_date;
GO
/****** Object:  Table [dbo].[Asset_Transfers]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset_Transfers](
	[transfer_id] [int] IDENTITY(1,1) NOT NULL,
	[asset_id] [int] NOT NULL,
	[from_location_id] [int] NULL,
	[to_location_id] [int] NOT NULL,
	[from_employee_id] [int] NULL,
	[to_employee_id] [int] NULL,
	[transfer_date] [date] NOT NULL,
	[transferred_by_employee_id] [int] NULL,
	[reason] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[transfer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Network_Devices]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Network_Devices](
	[network_device_id] [int] IDENTITY(1,1) NOT NULL,
	[asset_id] [int] NOT NULL,
	[device_type] [nvarchar](50) NOT NULL,
	[management_ip] [nvarchar](15) NULL,
	[firmware_version] [nvarchar](50) NULL,
	[ports_count] [int] NULL,
	[vlan_configuration] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[network_device_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Asset_Transfers] ON 

INSERT [dbo].[Asset_Transfers] ([transfer_id], [asset_id], [from_location_id], [to_location_id], [from_employee_id], [to_employee_id], [transfer_date], [transferred_by_employee_id], [reason], [created_at]) VALUES (1, 7, 21, 4, 2, 7, CAST(N'2023-03-02' AS Date), 1, N'Выдача ноутбука новому декану факультета', CAST(N'2025-12-05T21:39:35.7666667' AS DateTime2))
INSERT [dbo].[Asset_Transfers] ([transfer_id], [asset_id], [from_location_id], [to_location_id], [from_employee_id], [to_employee_id], [transfer_date], [transferred_by_employee_id], [reason], [created_at]) VALUES (2, 29, 21, 18, NULL, 21, CAST(N'2022-09-15' AS Date), 2, N'Передача проектора факультету иностранных языков для проведения конференции', CAST(N'2025-12-05T21:39:35.7666667' AS DateTime2))
INSERT [dbo].[Asset_Transfers] ([transfer_id], [asset_id], [from_location_id], [to_location_id], [from_employee_id], [to_employee_id], [transfer_date], [transferred_by_employee_id], [reason], [created_at]) VALUES (3, 31, 21, 22, 2, 24, CAST(N'2021-01-10' AS Date), 1, N'Установка МФУ в библиотеке для нужд сотрудников', CAST(N'2025-12-05T21:39:35.7666667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Asset_Transfers] OFF
GO
SET IDENTITY_INSERT [dbo].[Assets] ON 

SET IDENTITY_INSERT [dbo].[Assets] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([employee_id], [first_name], [last_name], [middle_name], [position], [department], [faculty], [email], [phone], [created_at], [updated_at]) VALUES (1, N'Иван', N'Петров', N'Сергеевич', N'Начальник IT-отдела', N'IT-отдел', N'Администрация', N'petrov.it@vsu.by', N'+375-212-35-67-89', CAST(N'2025-12-05T21:39:35.7066667' AS DateTime2), CAST(N'2025-12-05T21:39:35.7066667' AS DateTime2))
INSERT [dbo].[Employees] ([employee_id], [first_name], [last_name], [middle_name], [position], [department], [faculty], [email], [phone], [created_at], [updated_at]) VALUES (2, N'Мария', N'Сидорова', N'Александровна', N'Системный администратор', N'IT-отдел', N'Администрация', N'sidorova.sys@vsu.by', N'+375-212-35-67-90', CAST(N'2025-12-05T21:39:35.7066667' AS DateTime2), CAST(N'2025-12-05T21:39:35.7066667' AS DateTime2))
INSERT [dbo].[Employees] ([employee_id], [first_name], [last_name], [middle_name], [position], [department], [faculty], [email], [phone], [created_at], [updated_at]) VALUES (3, N'Алексей', N'Ковалев', N'Викторович', N'Инженер по ремонту', N'IT-отдел', N'Администрация', N'kovalev.repair@vsu.by', N'+375-212-35-67-91', CAST(N'2025-12-05T21:39:35.7066667' AS DateTime2), CAST(N'2025-12-05T21:39:35.7066667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([location_id], [building_name], [building_number], [room_number], [faculty_name], [department], [floor], [description], [created_at], [updated_at]) VALUES (1, N'Главный учебный корпус', N'1', N'101', N'Факультет математики и информационных технологий', N'Кафедра информатики', 1, N'Компьютерный класс', CAST(N'2025-12-05T21:39:35.6966667' AS DateTime2), CAST(N'2025-12-05T21:39:35.6966667' AS DateTime2))
INSERT [dbo].[Locations] ([location_id], [building_name], [building_number], [room_number], [faculty_name], [department], [floor], [description], [created_at], [updated_at]) VALUES (2, N'Главный учебный корпус', N'1', N'102', N'Факультет математики и информационных технологий', N'Кафедра информатики', 1, N'Лаборатория программирования', CAST(N'2025-12-05T21:39:35.6966667' AS DateTime2), CAST(N'2025-12-05T21:39:35.6966667' AS DateTime2))
INSERT [dbo].[Locations] ([location_id], [building_name], [building_number], [room_number], [faculty_name], [department], [floor], [description], [created_at], [updated_at]) VALUES (3, N'Главный учебный корпус', N'1', N'201', N'Факультет математики и информационных технологий', N'Кафедра прикладной математики', 2, N'Кабинет преподавателей', CAST(N'2025-12-05T21:39:35.6966667' AS DateTime2), CAST(N'2025-12-05T21:39:35.6966667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
SET IDENTITY_INSERT [dbo].[Maintenance_Log] ON 

INSERT [dbo].[Maintenance_Log] ([log_id], [asset_id], [maintenance_type], [maintenance_date], [completed_date], [performed_by_employee_id], [description], [parts_replaced], [cost], [status], [next_maintenance_date], [created_at]) VALUES (1, 1, N'preventive', CAST(N'2023-01-15' AS Date), CAST(N'2023-01-15' AS Date), 2, N'Профилактическое обслуживание сервера: чистка, диагностика', N'Термопаста', CAST(50.00 AS Decimal(10, 2)), N'completed', CAST(N'2023-07-15' AS Date), CAST(N'2025-12-05T21:39:35.7566667' AS DateTime2))
INSERT [dbo].[Maintenance_Log] ([log_id], [asset_id], [maintenance_type], [maintenance_date], [completed_date], [performed_by_employee_id], [description], [parts_replaced], [cost], [status], [next_maintenance_date], [created_at]) VALUES (2, 2, N'preventive', CAST(N'2023-01-20' AS Date), CAST(N'2023-01-20' AS Date), 2, N'Профилактическое обслуживание: проверка дисков RAID', NULL, CAST(0.00 AS Decimal(10, 2)), N'completed', CAST(N'2023-07-20' AS Date), CAST(N'2025-12-05T21:39:35.7566667' AS DateTime2))
INSERT [dbo].[Maintenance_Log] ([log_id], [asset_id], [maintenance_type], [maintenance_date], [completed_date], [performed_by_employee_id], [description], [parts_replaced], [cost], [status], [next_maintenance_date], [created_at]) VALUES (3, 15, N'repair', CAST(N'2023-03-10' AS Date), CAST(N'2023-03-12' AS Date), 3, N'Компьютер не включается. Замена блока питания', N'Блок питания 400W', CAST(85.00 AS Decimal(10, 2)), N'completed', NULL, CAST(N'2025-12-05T21:39:35.7566667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Maintenance_Log] OFF
GO
SET IDENTITY_INSERT [dbo].[Network_Devices] ON 

INSERT [dbo].[Network_Devices] ([network_device_id], [asset_id], [device_type], [management_ip], [firmware_version], [ports_count], [vlan_configuration], [created_at], [updated_at]) VALUES (1, 32, N'switch', N'10.1.1.1', N'15.2(4)E5', 48, N'VLAN 10: Servers, VLAN 20: Staff, VLAN 30: Students, VLAN 99: Management', CAST(N'2025-12-05T21:41:58.0833333' AS DateTime2), CAST(N'2025-12-05T21:41:58.0833333' AS DateTime2))
INSERT [dbo].[Network_Devices] ([network_device_id], [asset_id], [device_type], [management_ip], [firmware_version], [ports_count], [vlan_configuration], [created_at], [updated_at]) VALUES (2, 33, N'switch', N'10.1.2.1', N'WC.16.10.0005', 24, N'VLAN 20: Staff, VLAN 30: Students, VLAN 40: Guests', CAST(N'2025-12-05T21:41:58.0833333' AS DateTime2), CAST(N'2025-12-05T21:41:58.0833333' AS DateTime2))
INSERT [dbo].[Network_Devices] ([network_device_id], [asset_id], [device_type], [management_ip], [firmware_version], [ports_count], [vlan_configuration], [created_at], [updated_at]) VALUES (3, 34, N'router', N'10.0.0.1', N'6.49.7', 7, N'Main campus router, NAT, Firewall rules configured', CAST(N'2025-12-05T21:41:58.0833333' AS DateTime2), CAST(N'2025-12-05T21:41:58.0833333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Network_Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[Software] ON 

INSERT [dbo].[Software] ([software_id], [name], [version], [publisher], [license_type], [license_key], [license_count], [is_critical], [support_end_date], [category], [description], [created_at], [updated_at]) VALUES (1, N'Microsoft Windows 11 Pro', N'21H2', N'Microsoft', N'Volume License', N'VK7JG-NPHTM-C97JM-9MPGT-3V66T', 50, 1, CAST(N'2025-10-14' AS Date), N'Operating System', N'Основная ОС для рабочих станций', CAST(N'2025-12-05T21:39:35.7433333' AS DateTime2), CAST(N'2025-12-05T21:39:35.7433333' AS DateTime2))
INSERT [dbo].[Software] ([software_id], [name], [version], [publisher], [license_type], [license_key], [license_count], [is_critical], [support_end_date], [category], [description], [created_at], [updated_at]) VALUES (2, N'Microsoft Windows 10 Education', N'22H2', N'Microsoft', N'Education License', NULL, 200, 1, CAST(N'2025-10-14' AS Date), N'Operating System', N'ОС для студенческих компьютеров', CAST(N'2025-12-05T21:39:35.7433333' AS DateTime2), CAST(N'2025-12-05T21:39:35.7433333' AS DateTime2))
INSERT [dbo].[Software] ([software_id], [name], [version], [publisher], [license_type], [license_key], [license_count], [is_critical], [support_end_date], [category], [description], [created_at], [updated_at]) VALUES (3, N'Ubuntu Server', N'22.04 LTS', N'Canonical', N'Open Source', NULL, 999, 1, CAST(N'2027-04-01' AS Date), N'Operating System', N'Серверная ОС', CAST(N'2025-12-05T21:39:35.7433333' AS DateTime2), CAST(N'2025-12-05T21:39:35.7433333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Software] OFF
GO
SET IDENTITY_INSERT [dbo].[Software_Installations] ON 

INSERT [dbo].[Software_Installations] ([installation_id], [asset_id], [software_id], [installation_date], [installed_by_employee_id], [is_active], [notes], [created_at]) VALUES (1, 1, 3, CAST(N'2022-01-15' AS Date), 2, 1, N'Основной сервер приложений', CAST(N'2025-12-05T21:39:35.7500000' AS DateTime2))
INSERT [dbo].[Software_Installations] ([installation_id], [asset_id], [software_id], [installation_date], [installed_by_employee_id], [is_active], [notes], [created_at]) VALUES (2, 2, 3, CAST(N'2022-06-01' AS Date), 2, 1, N'Файловый сервер', CAST(N'2025-12-05T21:39:35.7500000' AS DateTime2))
INSERT [dbo].[Software_Installations] ([installation_id], [asset_id], [software_id], [installation_date], [installed_by_employee_id], [is_active], [notes], [created_at]) VALUES (3, 1, 13, CAST(N'2022-01-20' AS Date), 2, 1, N'SQL Server для приложений', CAST(N'2025-12-05T21:39:35.7500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Software_Installations] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Assets__070F296CD9E105A0]    Script Date: 04.02.2026 20:53:42 ******/
ALTER TABLE [dbo].[Assets] ADD UNIQUE NONCLUSTERED 
(
	[inventory_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Assets__BED14FEE5B32295A]    Script Date: 04.02.2026 20:53:42 ******/
ALTER TABLE [dbo].[Assets] ADD UNIQUE NONCLUSTERED 
(
	[serial_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_asset_inventory]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_asset_inventory] ON [dbo].[Assets]
(
	[inventory_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_asset_location]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_asset_location] ON [dbo].[Assets]
(
	[current_location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_asset_responsible]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_asset_responsible] ON [dbo].[Assets]
(
	[responsible_employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_asset_status]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_asset_status] ON [dbo].[Assets]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_asset_type]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_asset_type] ON [dbo].[Assets]
(
	[asset_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_purchase_date]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_purchase_date] ON [dbo].[Assets]
(
	[purchase_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__AB6E616466667410]    Script Date: 04.02.2026 20:53:42 ******/
ALTER TABLE [dbo].[Employees] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_employee_department]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_employee_department] ON [dbo].[Employees]
(
	[department] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_employee_name]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_employee_name] ON [dbo].[Employees]
(
	[last_name] ASC,
	[first_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_location_building]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_location_building] ON [dbo].[Locations]
(
	[building_number] ASC,
	[room_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_location_faculty]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_location_faculty] ON [dbo].[Locations]
(
	[faculty_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_maintenance_asset]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_maintenance_asset] ON [dbo].[Maintenance_Log]
(
	[asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_maintenance_asset_date]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_maintenance_asset_date] ON [dbo].[Maintenance_Log]
(
	[asset_id] ASC,
	[maintenance_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_maintenance_date]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_maintenance_date] ON [dbo].[Maintenance_Log]
(
	[maintenance_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_maintenance_status]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_maintenance_status] ON [dbo].[Maintenance_Log]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Network___D28B561C7F71C374]    Script Date: 04.02.2026 20:53:42 ******/
ALTER TABLE [dbo].[Network_Devices] ADD UNIQUE NONCLUSTERED 
(
	[asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_software_category]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_software_category] ON [dbo].[Software]
(
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_software_name]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_software_name] ON [dbo].[Software]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_software_version]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_software_version] ON [dbo].[Software]
(
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_support_end_date]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_support_end_date] ON [dbo].[Software]
(
	[support_end_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Software_Installation]    Script Date: 04.02.2026 20:53:42 ******/
ALTER TABLE [dbo].[Software_Installations] ADD  CONSTRAINT [UQ_Software_Installation] UNIQUE NONCLUSTERED 
(
	[asset_id] ASC,
	[software_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_installation_asset]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_installation_asset] ON [dbo].[Software_Installations]
(
	[asset_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_installation_software]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_installation_software] ON [dbo].[Software_Installations]
(
	[software_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_software_installations_active]    Script Date: 04.02.2026 20:53:42 ******/
CREATE NONCLUSTERED INDEX [idx_software_installations_active] ON [dbo].[Software_Installations]
(
	[asset_id] ASC,
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asset_Transfers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Assets] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Locations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Locations] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Maintenance_Log] ADD  DEFAULT ('completed') FOR [status]
GO
ALTER TABLE [dbo].[Maintenance_Log] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Network_Devices] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Network_Devices] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Software] ADD  DEFAULT ((1)) FOR [license_count]
GO
ALTER TABLE [dbo].[Software] ADD  DEFAULT ((0)) FOR [is_critical]
GO
ALTER TABLE [dbo].[Software] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Software] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Software_Installations] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Software_Installations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Asset_Transfers]  WITH NOCHECK ADD FOREIGN KEY([asset_id])
REFERENCES [dbo].[Assets] ([asset_id])
GO
ALTER TABLE [dbo].[Asset_Transfers]  WITH NOCHECK ADD FOREIGN KEY([from_location_id])
REFERENCES [dbo].[Locations] ([location_id])
GO
ALTER TABLE [dbo].[Asset_Transfers]  WITH NOCHECK ADD FOREIGN KEY([from_employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Asset_Transfers]  WITH NOCHECK ADD FOREIGN KEY([to_employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Asset_Transfers]  WITH NOCHECK ADD FOREIGN KEY([to_location_id])
REFERENCES [dbo].[Locations] ([location_id])
GO
ALTER TABLE [dbo].[Asset_Transfers]  WITH NOCHECK ADD FOREIGN KEY([transferred_by_employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Assets]  WITH NOCHECK ADD FOREIGN KEY([current_location_id])
REFERENCES [dbo].[Locations] ([location_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Assets]  WITH NOCHECK ADD FOREIGN KEY([responsible_employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Maintenance_Log]  WITH NOCHECK ADD FOREIGN KEY([asset_id])
REFERENCES [dbo].[Assets] ([asset_id])
GO
ALTER TABLE [dbo].[Maintenance_Log]  WITH NOCHECK ADD FOREIGN KEY([performed_by_employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Network_Devices]  WITH NOCHECK ADD FOREIGN KEY([asset_id])
REFERENCES [dbo].[Assets] ([asset_id])
GO
ALTER TABLE [dbo].[Software_Installations]  WITH NOCHECK ADD FOREIGN KEY([asset_id])
REFERENCES [dbo].[Assets] ([asset_id])
GO
ALTER TABLE [dbo].[Software_Installations]  WITH NOCHECK ADD FOREIGN KEY([installed_by_employee_id])
REFERENCES [dbo].[Employees] ([employee_id])
GO
ALTER TABLE [dbo].[Software_Installations]  WITH NOCHECK ADD FOREIGN KEY([software_id])
REFERENCES [dbo].[Software] ([software_id])
GO
ALTER TABLE [dbo].[Assets]  WITH NOCHECK ADD  CONSTRAINT [CK_Assets_Status] CHECK  (([status]='reserved' OR [status]='lost' OR [status]='decommissioned' OR [status]='in_repair' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[Assets] NOCHECK CONSTRAINT [CK_Assets_Status]
GO
ALTER TABLE [dbo].[Maintenance_Log]  WITH NOCHECK ADD  CONSTRAINT [CK_Maintenance_Status] CHECK  (([status]='cancelled' OR [status]='completed' OR [status]='in_progress' OR [status]='scheduled'))
GO
ALTER TABLE [dbo].[Maintenance_Log] NOCHECK CONSTRAINT [CK_Maintenance_Status]
GO
ALTER TABLE [dbo].[Maintenance_Log]  WITH NOCHECK ADD  CONSTRAINT [CK_Maintenance_Type] CHECK  (([maintenance_type]='other' OR [maintenance_type]='inspection' OR [maintenance_type]='upgrade' OR [maintenance_type]='preventive' OR [maintenance_type]='repair'))
GO
ALTER TABLE [dbo].[Maintenance_Log] NOCHECK CONSTRAINT [CK_Maintenance_Type]
GO
ALTER TABLE [dbo].[Network_Devices]  WITH NOCHECK ADD  CONSTRAINT [CK_Network_Device_Type] CHECK  (([device_type]='modem' OR [device_type]='access_point' OR [device_type]='firewall' OR [device_type]='router' OR [device_type]='switch'))
GO
ALTER TABLE [dbo].[Network_Devices] NOCHECK CONSTRAINT [CK_Network_Device_Type]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Asset_Safe]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_Asset_Safe]
    @asset_id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Проверяем существование актива
        IF NOT EXISTS (SELECT 1 FROM Assets WHERE asset_id = @asset_id)
        BEGIN
            THROW 50001, 'Asset not found', 1;
        END
        
        -- Удаляем в правильном порядке (от зависимых к главным)
        DELETE FROM Software_Installations WHERE asset_id = @asset_id;
        DELETE FROM Maintenance_Log WHERE asset_id = @asset_id;
        DELETE FROM Asset_Transfers WHERE asset_id = @asset_id;
        DELETE FROM Network_Devices WHERE asset_id = @asset_id;
        
        -- Удаляем сам актив
        DELETE FROM Assets WHERE asset_id = @asset_id;
        
        COMMIT TRANSACTION;
        PRINT 'Asset deleted successfully';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT 'Error deleting asset: ' + ERROR_MESSAGE();
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[Delete_Software_Safe]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_Software_Safe]
    @software_id INT
AS
BEGIN
    SET NOCOUNT ON;    BEGIN TRY
        BEGIN TRANSACTION;
        IF NOT EXISTS (SELECT 1 FROM Software WHERE software_id = @software_id)
        BEGIN
            THROW 50002, 'Software not found', 1;
        END
        DELETE FROM Software_Installations WHERE software_id = @software_id;
        DELETE FROM Software WHERE software_id = @software_id;
        COMMIT TRANSACTION;
        PRINT 'Software deleted successfully';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT 'Error deleting software: ' + ERROR_MESSAGE();
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[Generate_Replacement_Report]    Script Date: 04.02.2026 20:53:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Generate_Replacement_Report]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        a.asset_id,
        a.inventory_number,
        a.asset_type,
        a.model,
        a.purchase_date,
        dbo.Calculate_Asset_Age(a.purchase_date) AS asset_age_years,
        l.faculty_name,
        l.department,
        e.first_name + ' ' + e.last_name AS responsible_person,
        a.status,
        CASE 
            WHEN dbo.Needs_Replacement(a.purchase_date, a.asset_type, a.status) = 1
            THEN 'Требует замены' 
            ELSE 'В эксплуатации' 
        END AS replacement_status
    FROM Assets a
    LEFT JOIN Locations l ON a.current_location_id = l.location_id
    LEFT JOIN Employees e ON a.responsible_employee_id = e.employee_id
    WHERE a.status IN ('active', 'in_repair')
    ORDER BY dbo.Calculate_Asset_Age(a.purchase_date) DESC, l.faculty_name;
END;
GO
USE [master]
GO
